<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="WS_PhongThiNghiemSoap">
                    <security mode="Transport" />
                </binding>
                <binding name="WS_PhongThiNghiemSoap1" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="https://localhost:44368/WS_PhongThiNghiem.asmx"
                binding="basicHttpBinding" bindingConfiguration="WS_PhongThiNghiemSoap"
                contract="WS_PTN.WS_PhongThiNghiemSoap" name="WS_PhongThiNghiemSoap" />
        </client>
    </system.serviceModel>
</configuration>